<div class="padding-global">{% assign youtube_url = section.settings.youtube_url %}{% if youtube_url contains "youtu.be" %}{% assign youtube_id = youtube_url | split: "/" | last %}{% elsif youtube_url contains "youtube.com/watch?v=" %}{% assign youtube_id = youtube_url | split: "v=" | last | split: "&" | first %}{% elsif youtube_url contains "youtube.com/embed/" %}{% assign youtube_id = youtube_url | split: "/embed/" | last | split: "?" | first %}{% else %}{% assign youtube_id = "" %}{% endif %}<div class="custom-setting w-embed"></div>
{% if section.settings.checkbox_enable_video == true %}
<img alt="{{ section.settings.image_video_thumbnail.alt }}" src="{{ section.settings.image_video_thumbnail | img_url: 'master' }}" loading="lazy" id="low-power-mode" class="hero_thumbnail">
{% endif %}
{% if section.settings.checkbox_enable_video == true %}
<div id="high-power-mode" class="hero_video-embed w-embed w-script"><div id="video-wrapper" style="width: 100%; height: 100%; position: relative; overflow: hidden;"><div id="{{ section.id }}" style="position: absolute; width: 100%; height: 100%;"></div></div><script>var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('{{ section.id }}', {
      videoId: '{{ youtube_id }}', // Replace with your YouTube video ID
      playerVars: {
        autoplay: 1,
        controls: 0,
        modestbranding: 1,
        rel: 0,
        showinfo: 0,
        start: 15,
        fs: 1,
        iv_load_policy: 3,
        mute: 1,
        enablejsapi: 1,
        playsinline: 1
      },
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    });
  }
  function onPlayerReady(event) {
    player.playVideo();
    document.getElementById('video-wrapper').style.opacity = 1;
    // Get video duration and fade out 15s before end
    setTimeout(() => {
      document.getElementById('video-wrapper').style.opacity = 0;
    }, (player.getDuration() - 15) * 1000);
    resizeVideo(); // Ensure it fills the div
  }
  function onPlayerStateChange(event) {
    if (event.data === YT.PlayerState.ENDED) {
      player.seekTo(15);
      player.playVideo();
    }
  }
  function resizeVideo() {
    let playerDiv = document.getElementById('{{ section.id }}');
    let wrapper = document.getElementById('video-wrapper');
    let containerWidth = wrapper.offsetWidth;
    let containerHeight = wrapper.offsetHeight;
    let videoAspectRatio = 16 / 9;
    let newWidth = containerWidth;
    let newHeight = containerWidth / videoAspectRatio;
    if (newHeight < containerHeight) {
      newHeight = containerHeight;
      newWidth = containerHeight * videoAspectRatio;
    }
    playerDiv.style.width = newWidth + "px";
    playerDiv.style.height = newHeight + "px";
    playerDiv.style.left = (containerWidth - newWidth) / 2 + "px";
    playerDiv.style.top = (containerHeight - newHeight) / 2 + "px";
  }
  window.addEventListener('resize', resizeVideo);
</script></div>{% endif %}
<div class="section-fade"></div><div class="container-large"><div class="header_card"><div class="max-width-large"><h1 class="heading-style-h1 text-align-center">
{{ section.settings.text_headline }}
</h1>
<img src="{{ section.settings.image_logo | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.image_logo.alt }}" class="hero_logo">
<div class="spacer-small"></div><div class="text-size-medium text-color-white"> {{ section.settings.richtext_text }} </div>
</div><div class="spacer-medium"></div>{% if section.settings.checkbox_enable_streaming_links == true %}
<div class="streaming_social-icons-container"><a href="{{ section.settings.url_spotify_link }}" class="social-icon-link w-inline-block"> <div class="social-icon large w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 52 50" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><path d="M25.9117 50C39.8195 50 51.094 38.8071 51.094 25C51.094 11.1929 39.8195 0 25.9117 0C12.0039 0 0.72937 11.1929 0.72937 25C0.72937 38.8071 12.0039 50 25.9117 50Z" fill="currentColor"></path><path d="M41.8118 22.63C41.3823 22.63 40.9482 22.5172 40.5542 22.2808C34.2564 18.4955 26.8866 17.8555 21.814 17.9859C16.1885 18.1297 12.039 19.2256 11.9978 19.2364C10.7017 19.5836 9.36591 18.823 9.01465 17.5368C8.66338 16.2506 9.42689 14.9255 10.722 14.5752C10.9091 14.5245 15.375 13.3345 21.5519 13.1607C25.1922 13.0582 28.6877 13.3304 31.9409 13.9704C36.0638 14.7812 39.8095 16.1869 43.0741 18.1489C44.2232 18.8396 44.5906 20.3245 43.8949 21.4654C43.4373 22.2151 42.6347 22.63 41.8118 22.63Z" fill="#050505"></path><path d="M38.7036 30.1097C38.3341 30.1097 37.9599 30.0125 37.6211 29.8086C27.1086 23.4897 13.1773 27.1492 13.0376 27.187C11.9212 27.4886 10.7705 26.8351 10.4667 25.7269C10.1628 24.6191 10.8211 23.4762 11.9374 23.1746C12.0984 23.1311 15.9436 22.1067 21.2611 21.9571C24.3949 21.8687 27.4046 22.1036 30.2054 22.6541C33.7551 23.352 36.9801 24.5622 39.7902 26.2515C40.7799 26.846 41.0963 28.1245 40.4969 29.107C40.1034 29.7527 39.4118 30.1097 38.7036 30.1097Z" fill="#050505"></path><path d="M36.1814 36.6264C35.926 36.6264 35.667 36.5612 35.4309 36.4236C26.0801 30.9796 13.7112 34.1269 13.5872 34.159C12.7929 34.3669 11.9799 33.8966 11.7704 33.1081C11.5609 32.3201 12.0346 31.5125 12.8289 31.305C12.968 31.2683 16.2941 30.4104 20.9075 30.2842C27.0662 30.1155 32.6088 31.3588 36.9345 33.877C37.6428 34.2893 37.8804 35.1937 37.465 35.8969C37.1883 36.3656 36.6916 36.6264 36.1814 36.6264Z" fill="#050505"></path></svg></div> </a>
<a href="{{ section.settings.url_apple_music_link }}" class="social-icon-link w-inline-block"> <div class="social-icon large w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 51 50" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><path d="M25.1823 50C39.0902 50 50.3647 38.8071 50.3647 25C50.3647 11.1929 39.0902 0 25.1823 0C11.2745 0 0 11.1929 0 25C0 38.8071 11.2745 50 25.1823 50Z" fill="currentColor"></path><path d="M19.5557 11.8546C19.0642 11.9555 18.7119 12.3854 18.7119 12.8832V30.6283C18.7119 31.0044 18.6629 32.3051 16.3573 32.6197C13.877 32.9581 11.3744 33.9096 11.3744 36.6497C11.3744 39.1684 13.8661 39.9243 15.5708 39.9243C17.8051 39.9243 20.4886 38.2966 20.4886 35.6967V19.7438C20.4886 19.2916 20.8086 18.9015 21.2547 18.8094L33.7867 16.2323C34.2568 16.1355 34.6972 16.492 34.6972 16.968V27.5648C34.6972 27.9052 34.6482 29.2416 32.3426 29.5562C29.8623 29.8946 27.3597 30.8461 27.3597 33.5862C27.3597 36.1049 29.8514 36.8608 31.5561 36.8608C33.7221 36.8608 36.4739 35.2331 36.4739 32.6332V9.41455C36.4739 8.87853 35.9782 8.47807 35.4492 8.58672L19.5567 11.8551H19.5557V11.8546Z" fill="#050505"></path></svg></div> </a>
<a href="{{ section.settings.url_tidal_link }}" class="social-icon-link w-inline-block"> <div class="social-icon large w-embed"><XML></XML><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --><svg width="100%" height="100%" viewbox="0 0 72 72" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M36,72 L36,72 C55.882251,72 72,55.882251 72,36 L72,36 C72,16.117749 55.882251,-3.65231026e-15 36,0 L36,0 C16.117749,3.65231026e-15 -2.4348735e-15,16.117749 0,36 L0,36 C2.4348735e-15,55.882251 16.117749,72 36,72 Z" fill="currentColor"></path><path d="M31.044,42.269916 L31.0425,28.6877416 L44.0115,35.5022437 L31.044,42.269916 Z M59.52,26.3341627 C59.52,26.3341627 59.0505,23.003199 57.612,21.5363665 C55.7865,19.610299 53.7405,19.6012352 52.803,19.4894477 C46.086,19 36.0105,19 36.0105,19 L35.9895,19 C35.9895,19 25.914,19 19.197,19.4894477 C18.258,19.6012352 16.2135,19.610299 14.3865,21.5363665 C12.948,23.003199 12.48,26.3341627 12.48,26.3341627 C12.48,26.3341627 12,30.2467232 12,34.1577731 L12,37.8256098 C12,41.7381703 12.48,45.6492202 12.48,45.6492202 C12.48,45.6492202 12.948,48.9801839 14.3865,50.4470165 C16.2135,52.3730839 18.612,52.3126583 19.68,52.5135736 C23.52,52.8851913 36,53 36,53 C36,53 46.086,52.9848936 52.803,52.4954459 C53.7405,52.3821478 55.7865,52.3730839 57.612,50.4470165 C59.0505,48.9801839 59.52,45.6492202 59.52,45.6492202 C59.52,45.6492202 60,41.7381703 60,37.8256098 L60,34.1577731 C60,30.2467232 59.52,26.3341627 59.52,26.3341627 L59.52,26.3341627 Z" fill="#000"></path></g></svg></div> </a>
<a href="{{ section.settings.url_amazon_music_link }}" class="social-icon-link w-inline-block"> <div class="social-icon large w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 51 50" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><path d="M25.547 50C39.4548 50 50.7293 38.8071 50.7293 25C50.7293 11.1929 39.4548 0 25.547 0C11.6391 0 0.364624 11.1929 0.364624 25C0.364624 38.8071 11.6391 50 25.547 50Z" fill="currentColor"></path><path d="M33.4473 25.0006L20.651 17.666V32.3347L33.4473 25.0006Z" fill="#050505"></path><path d="M25.5467 10.063C17.2367 10.063 10.5006 16.7508 10.5006 25.0002C10.5006 33.2495 17.2372 39.9374 25.5467 39.9374C33.8563 39.9374 40.5929 33.2495 40.5929 25.0002C40.5929 16.7508 33.8563 10.063 25.5467 10.063ZM25.5467 37.8802C18.3812 37.8802 12.5728 32.1138 12.5728 25.0002C12.5728 17.8865 18.3812 12.1201 25.5467 12.1201C32.7123 12.1201 38.5207 17.8865 38.5207 25.0002C38.5207 32.1138 32.7123 37.8802 25.5467 37.8802Z" fill="#050505"></path></svg></div> </a>
<a href="{{ section.settings.url_tidal_link }}" class="social-icon-link w-inline-block"> <div class="social-icon large w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 51 50" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><path d="M25.2763 50C39.1842 50 50.4587 38.8071 50.4587 25C50.4587 11.1929 39.1842 0 25.2763 0C11.3685 0 0.0939941 11.1929 0.0939941 25C0.0939941 38.8071 11.3685 50 25.2763 50Z" fill="currentColor"></path><path d="M15.1355 17.5661L10.0637 22.6011L15.1355 27.6361L20.2072 22.6011L15.1355 17.5661Z" fill="#050505"></path><path d="M25.2783 17.5661L20.2065 22.6011L25.2783 27.6361L30.35 22.6011L25.2783 17.5661Z" fill="#050505"></path><path d="M25.2755 27.6354L20.2037 32.6704L25.2755 37.7054L30.3472 32.6704L25.2755 27.6354Z" fill="#050505"></path><path d="M35.4197 17.5661L30.348 22.6011L35.4198 27.6361L40.4915 22.6011L35.4197 17.5661Z" fill="#050505"></path></svg></div> </a>
</div>{% endif %}
<div class="spacer-medium"></div><div class="button-group">{% if section.settings.checkbox_enable_button == true %}
<a href="#" class="w-inline-block w-lightbox"><div class="button"><div class="text-block-3">
{{ section.settings.text_button_text }}
</div>
</div><script type="application/json" class="w-json">{
  "items": [
    {
      "url": "https://www.youtube.com/watch?v=Ca1ZwkWUo-o&ab_channel=MetalBladeRecords",
      "originalUrl": "https://www.youtube.com/watch?v=Ca1ZwkWUo-o&ab_channel=MetalBladeRecords",
      "width": 940,
      "height": 528,
      "thumbnailUrl": "https://i.ytimg.com/vi/Ca1ZwkWUo-o/hqdefault.jpg",
      "html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FCa1ZwkWUo-o%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DCa1ZwkWUo-o&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FCa1ZwkWUo-o%2Fhqdefault.jpg&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" title=\"YouTube embed\" frameborder=\"0\" allow=\"autoplay; fullscreen; encrypted-media; picture-in-picture;\" allowfullscreen=\"true\">",
      "type": "video"
    }
  ],
  "group": ""
}</script></a>{% endif %}
</div></div></div></div> {% schema %} {"tag":"section","name":"Hero Video","class":"section_header-home--video","settings":[{"type":"header","content":"Youtube"},{"type":"video_url","id":"youtube_url","label":"Youtube Video","accept":["youtube"]},{"id":"checkbox_enable_video","type":"checkbox","label":"Enable Video","default":true},{"id":"image_video_thumbnail","type":"image_picker","label":"Video Thumbnail"},{"id":"text_headline","type":"text","label":"Headline","default":"Header"},{"id":"image_logo","type":"image_picker","label":"Logo"},{"id":"checkbox_enable_title_image","type":"checkbox","label":"Enable Title Image","default":true},{"id":"richtext_text","type":"richtext","label":"Text","default":"<p>This is the awesome body text Doods!<\/p>"},{"id":"checkbox_enable_streaming_links","type":"checkbox","label":"Enable Streaming Links","default":true},{"id":"url_spotify_link","type":"url","label":"Spotify Link"},{"id":"url_apple_music_link","type":"url","label":"Apple Music Link"},{"id":"url_tidal_link","type":"url","label":"Tidal Link"},{"id":"url_amazon_music_link","type":"url","label":"Amazon Music Link"},{"id":"checkbox_enable_button","type":"checkbox","label":"Enable Button","default":true},{"id":"text_button_text","type":"text","label":"Button Text","default":"Video Pop Up"}],"presets":[{"name":"Hero Video","category":"Liquify","blocks":[]}]} {% endschema %}